<% content_for :right_sidebar do %>
<h2><%= image_tag "icons/h_donations_for_us.gif"%></h2>
<p><%= image_tag "icons/pic_2.jpg"%></p>
<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
<p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
<p class="more"><a href="#"><%= image_tag "icons/btn_click_here.gif"%></a></p>
<h2><%= image_tag "icons/h_gallery.gif"%></h2>
<div id="gallery">
  <a href="#"><%= image_tag "icons/gal_1.jpg"%></a>
  <a href="#"><%= image_tag "icons/gal_2.jpg"%></a>
  <a href="#"><%= image_tag "icons/gal_3.jpg"%></a>
</div>
<% end %>

<h2><%= image_tag "icons/h_welcome_to_our_site.gif"%></h2>
<p>Don't forgot to check <a href="http://www.freewebsitetemplates.com">free website templates</a> every day, because we add at least one free website template daily.</p>

<p>This is a template designed by free website templates for you for free you can replace all the text by your own
  text. This is just a place holder so you can see how the site would look like.</p>

<p>You can remove any link to our websites from this template you're  free to use the template without linking
  back to us. Don't want your boss to know you used a free website template ;) .</p>

<p>If you're having problems editing the template please don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">forum</a>.</p>

<p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
<p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
<p class="more"><a href="#">more</a></p>
<h2>
  <%= image_tag "icons/h_needs.gif"%></h2>
  <%= image_tag "icons/pic_3.jpg", :class => :left%>
<p><a href="#">Lorem ipsum dolor</a> sit amet, consectetuer adipiscing elit. Mauris ut elit. Sed eu pede. Morbi quis ante a pede feugiat egestas. Etiam feugiat mi in pede. Aenean massa sem.</p>
<ul class="plussbullets">
  <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></li>
  <li><a href="#">Elit. Mauris ut elit. Sed eu pede. Morbi quis ante a</a></li>
  <li><a href="#">Pede feugiat egestas. Etiam feugiat mi in pede. Aenean massa sem.</a></li>
</ul>
