<div class="main_logo">
  <div class="header"> <h1><%= image_tag "ui/ddlogo.png"%></h1></div>
</div>
<div class="nav">
  <div style="padding-left:10%;padding-right: 10%">
      <ul id="nav">
        <li class="round-top nav_dm">
          <%= link_to "DM", "/dm" %>
        </li>
        <li class="round-top nav_campaigns">
          <%= link_to "Campaigns", "/campaigns"%>
        </li>
        <li class="round-top nav_characters">
          <%= link_to "Characters", "/characters"%>
        </li>
        <li class="round-top nav_feats">
          <%= link_to "Feats", "/feats"%>
        </li>
      </ul>
  </div>
</div>
