<div class="main_logo">
  <div class="header"> <h1><%= image_tag "ui/ddlogo.png"%></h1></div>
</div>
<div class="nav">
  <ul id="nav">
    <li class="round-top nav_campaigns">
      <%= link_to "Campaigns", campaigns_path%>
    </li>
    <li class="round-top nav_characters">
      <%= link_to "Characters", characters_path %>
    </li>
    <li class="round-top nav_classes">
      <%= link_to "Classes", classes_path %>
    </li>
    <li class="round-top nav_skills">
      <%= link_to "Skills", skills_path%>
    </li>
    <li class="round-top nav_feats">
      <%= link_to "Feats", feats_path%>
    </li>

  </ul>
</div>
