<!DOCTYPE html>
<html>
  <head>
    <title>Bardbarian</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      $(function(){
        $("li.nav_<%=@active_nav%>").addClass("active");
      });
    </script>
  </head>
  <body>
    <div class="heading">
      <%= render :partial => "/layouts/primary_nav" %>
    </div>
    <div id="content" class="round-all">
      <div>
        <div id="body-left">
          <%= yield %>
        </div>

        <div id="body-right">
          <%= yield(:right_content) %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p>&copy; 2006 all rights reserved.</p>
    </div>

  </body>
</html>
